<p-toast></p-toast>
<p-toolbar>
    <ng-template #end>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary"(onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="bolsas()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'percentualDesconto', 'necessitaAutSuperior', 'ativo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} Bolsas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Bolsas</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="nome" style="min-width:16rem">
                Nome
                <p-sortIcon field="nome" />
            </th>
            <th pSortableColumn="percentualDesconto" style="min-width:10rem">
                Percentual de desconto
                <p-sortIcon field="percentualDesconto" />
            </th>
            <th pSortableColumn="necessitaAutSuperior" style="min-width: 12rem">
                Necessita autorização sup.
                <p-sortIcon field="necessitaAutSuperior" />
            </th>
            <th pSortableColumn="ativo" style="min-width: 12rem">
                Ativo
                <p-sortIcon field="ativo" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-bolsa>
        <tr>
            <td style="min-width: 16rem">{{ bolsa.nome }}</td>
            <td>{{ bolsa.percentualDesconto + '%'}}</td>
            <td>
                <i
                    class="pi"
                    [ngClass]="{
                    'pi-check text-green-600': bolsa.necessitaAutSuperior,
                    'pi-times text-red-600': !bolsa.necessitaAutSuperior
                    }"
                    aria-label="aut_sup">
                </i>
            </td>
            <td>
                <p-tag [value]="bolsa.ativo ? 'ATIVO' : 'INATIVO' " [severity]="getSeverity(bolsa.ativo)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editBolsa(bolsa)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteBolsa(bolsa)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="BolsaDialog" [style]="{ width: '450px' }" header="Detalhes do Bolsa" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input name="name" type="text" pInputText id="nome" [(ngModel)]="bolsa.nome" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !bolsa.nome">Nome é obrigatório.</small>
            </div>
            <div>
                <label for="perc_desconto" class="block font-bold mb-3">Percentual de desconto</label>
                <input name="perc_desconto" id="perc_desconto" type="number" pInputText [(ngModel)]="bolsa.percentualDesconto" required fluid/>
                <small class="text-red-500" *ngIf="submitted && !bolsa.percentualDesconto">Percentual de desconto é obrigatório.</small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select 
                    name="status" 
                    [(ngModel)]="bolsa.ativo" 
                    inputId="ativo" 
                    [options]="statuses" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione um status" 
                    fluid 
                    [appendTo]="'body'"
                />
                <small class="text-red-500" *ngIf="submitted && bolsa.ativo == undefined">Status é obrigatório.</small>
            </div>

            <div>
                <span class="block font-bold mb-4">Opções</span>
                <div class="grid grid-cols-2 gap-2">
                    <div class="flex items-center gap-2 col-span-6">
                        <p-checkbox id="aut_sup" name="aut_sup" binary="true" [(ngModel)]="bolsa.necessitaAutSuperior"></p-checkbox>
                        <label for="aut_sup">Necessita autorização de superior</label>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveBolsa()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />