<p-toast></p-toast>
<p-toolbar>
    <ng-template #end>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary"(onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="matrizCurriculars()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'disciplinas', 'ativo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} Matrizes Curriculares"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Matriz Curricular</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="nome" style="min-width:16rem">
                Nome
                <p-sortIcon field="nome" />
            </th>

            <th pSortableColumn="disciplinas" style="min-width: 12rem">
                Disciplinas
                <p-sortIcon field="disciplinas" />
            </th>

            <th pSortableColumn="ativo" style="min-width: 12rem">
                Ativo
                <p-sortIcon field="ativo" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-matrizCurricular>
        <tr>
            <td style="min-width: 16rem">{{ matrizCurricular.nome }}</td>
            <td>
                <ng-container *ngFor="let disciplina of matrizCurricular.disciplinas; let last = last">
                    <span class="p-chip p-chip-text p-1 px-3 mr-2 mb-1 rounded-full bg-blue-100 text-blue-800">
                        {{ disciplina.nome }}
                    </span>
                </ng-container>
            </td>
            <td>
                <p-tag [value]="matrizCurricular.ativo ? 'ATIVO' : 'INATIVO' " [severity]="getSeverity(matrizCurricular.ativo)" />
            </td>

            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editmatrizCurricular(matrizCurricular)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deletematrizCurricular(matrizCurricular)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="matrizCurricularDialog" [style]="{ width: '450px' }" header="Detalhes da Matriz Curricular" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input name="name" type="text" pInputText id="nome" [(ngModel)]="matrizCurricular.nome" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !matrizCurricular.nome">Nome é obrigatório.</small>
            </div>
            <div>
                <label for="disciplinas" class="block font-bold mb-3">Disciplinas</label>
                <p-multiselect 
                    [appendTo]="'body'" 
                    name="disciplinas" 
                    fluid 
                    [options]="disciplinas_multi_select" 
                    [(ngModel)]="matrizCurricular.disciplinas" 
                    placeholder="Selecionar disciplinas" 
                    optionLabel="label" 
                    optionValue="value" 
                    display="chip" 
                    [filter]="true"
                >
                    <ng-template #selecteditems let-disciplinas>
                        <ng-container *ngFor="let disciplina of disciplinas">
                            <div class="flex flex-col py-1 px-2 bg-primary text-primary-contrast rounded-border mb-2">
                            {{ disciplina.nome }}
                            </div>
                        </ng-container>
                    </ng-template>
                </p-multiselect>
                <small class="text-red-500" *ngIf="submitted && matrizCurricular.disciplinas == undefined">Disciplinas é obrigatório.</small>
            </div>
            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select 
                    name="status" 
                    [(ngModel)]="matrizCurricular.ativo" 
                    inputId="ativo" 
                    [options]="statuses" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione um status" 
                    fluid 
                    [appendTo]="'body'"
                />
                <small class="text-red-500" *ngIf="submitted && matrizCurricular.ativo == undefined">Status é obrigatório.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="savematrizCurricular()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />