<p-toast></p-toast>

<p-toolbar>
    <ng-template #end>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="lista()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'email', 'cpf', 'ativo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} funcionários"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Funcionários</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="nome">Nome <p-sortIcon field="nome" /></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
            <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf" /></th>
            <th pSortableColumn="ativo">Ativo <p-sortIcon field="ativo" /></th>
            <th>Ações</th>
        </tr>
    </ng-template>

    <ng-template #body let-objeto>
        <tr>
            <td>{{ objeto.nome }}</td>
            <td>{{ objeto.email }}</td>
            <td>{{ objeto.cpf }}</td>
            <td>
                <p-tag [value]="objeto.ativo ? 'ATIVO' : 'INATIVO'" [severity]="getSeverity(objeto.ativo)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(objeto)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(objeto)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogo" [style]="{ width: '600px' }" header="Detalhes do Funcionário" [modal]="true">
    <ng-template #content>
        <div class="grid formgrid p-fluid">
            <div>
                <label for="nome" class="block font-bold mb-3">Nome</label>
                <input id="nome" pInputText [(ngModel)]="objeto.nome" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !objeto.nome">Nome é obrigatório.</small>
            </div>

            <div>
                <label for="email" class="block font-bold mb-3">Email</label>
                <input id="email" type="email" pInputText [(ngModel)]="objeto.email" required fluid />
                <small class="text-red-500" *ngIf="submitted && !objeto.email">Email é obrigatório.</small>
            </div>

            <div>
                <label for="cpf" class="block font-bold mb-3">CPF</label>
                <input id="cpf" pInputText [(ngModel)]="objeto.cpf" required fluid />
                <small class="text-red-500" *ngIf="submitted && !objeto.cpf">CPF é obrigatório.</small>
            </div>

            <div>
                <label for="rg" class="block font-bold mb-3">RG</label>
                <input id="rg" pInputText [(ngModel)]="objeto.rg" fluid />
            </div>

            <div>
                <label for="telefone" class="block font-bold mb-3">Telefone</label>
                <input id="telefone" pInputText [(ngModel)]="objeto.telefone" fluid />
            </div>

            <div>
                <label for="cep" class="block font-bold mb-3">CEP</label>
                <input id="cep" pInputText [(ngModel)]="objeto.cep" fluid />
            </div>

            <div>
                <label for="logradouro" class="block font-bold mb-3">Logradouro</label>
                <input id="logradouro" pInputText [(ngModel)]="objeto.logradouro" fluid />
            </div>

            <div>
                <label for="numero" class="block font-bold mb-3">Número</label>
                <input id="numero" pInputText [(ngModel)]="objeto.numero" fluid />
            </div>

            <div>
                <label for="complemento" class="block font-bold mb-3">Complemento</label>
                <input id="complemento" pInputText [(ngModel)]="objeto.complemento" fluid />
            </div>

            <div>
                <label for="bairro" class="block font-bold mb-3">Bairro</label>
                <input id="bairro" pInputText [(ngModel)]="objeto.bairro" fluid />
            </div>

            <div>
                <label for="cidade" class="block font-bold mb-3">Cidade</label>
                <input id="cidade" pInputText [(ngModel)]="objeto.cidade" fluid />
            </div>

            <div>
                <label for="uf" class="block font-bold mb-3">UF</label>
                <input id="uf" pInputText [(ngModel)]="objeto.uf" fluid />
            </div>

            <div>
                <label for="agencia" class="block font-bold mb-3">Agência</label>
                <input name="agencia" id="agencia" type="text" pInputText [(ngModel)]="objeto.agencia" required fluid/>
                <small class="text-red-500" *ngIf="submitted && objeto.agencia == undefined">Agência é obrigatória.</small>
            </div>

            <div>
                <label for="numero_objeto" class="block font-bold mb-3">Número da conta</label>
                <input name="numero_objeto" id="numero_objeto" type="text" pInputText [(ngModel)]="objeto.numeroConta" required fluid/>
                <small class="text-red-500" *ngIf="submitted && objeto.numeroConta == undefined">Número da conta é obrigatório.</small>
            </div>
            
            <div class="field col-12">
                <label for="pix" class="block font-bold mb-3">Tipo chave pix</label>
                <p-select
                    id="pix"
                    [options]="chavesPix_select"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="objeto.tipoChavePix"
                    placeholder="Selecione o tipo de chave"
                    fluid
                ></p-select>
                <small class="text-red-500" *ngIf="submitted && objeto.tipoChavePix == undefined">Tipo pix é obrigatório.</small>
            </div>

            <div>
                <label for="chave_pix" class="block font-bold mb-3">Chave pix</label>
                <input name="chave_pix" id="chave_pix" type="text" pInputText [(ngModel)]="objeto.chavePix" required fluid/>
            </div>

            <div>
                <label for="cargos" class="block font-bold mb-3">Cargo</label>
                <p-select 
                    name="cargos" 
                    [(ngModel)]="objeto.cargo" 
                    inputId="cargo" 
                    [options]="cargos_select" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione um cargo"
                    fluid 
                    [appendTo]="'body'"
                />
                <small class="text-red-500" *ngIf="submitted && objeto.cargo == undefined">Cargo é obrigatório.</small>
            </div>
            
             <div>
                <label for="tipo_pagamento" class="block font-bold mb-3">Tipo de pagamento</label>
                <p-select
                    id="tipo_pagamento"
                    [options]="tipoPagamento_select"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Selecione o tipo de pagamento"
                    fluid
                ></p-select>
            </div>
            
            <div>
                <label for="ativo" class="block font-bold mb-3">Status</label>
                <p-select
                    id="ativo"
                    [options]="statuses"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="objeto.ativo"
                    placeholder="Selecione o status"
                    fluid
                ></p-select>
                <small class="text-red-500" *ngIf="submitted && objeto.ativo == undefined">Status é obrigatório.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
