<div class="grid grid-cols-12 gap-4 p-4">
  <div class="col-span-12">
    <h1 class="text-4xl font-bold text-gray-800 text-center mb-6">
      Dashboard Financeiro
    </h1>
  </div>

  <div class="col-span-12 grid grid-cols-12 gap-4 mb-4">
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-green-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Receita da Semana</div>
          <div class="text-4xl font-bold"> {{ totalReceitaSemana  }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-green-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Receita do Mês</div>
          <div class="text-4xl font-bold"> {{ totalReceitaMes }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-green-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Receita do Semestre</div>
          <div class="text-4xl font-bold"> {{ totalReceitaSemestre }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-green-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Receita do Ano</div>
          <div class="text-4xl font-bold"> {{ totalReceitaAno }}</div>
        </div>
      </p-card>
    </div>
  </div>

    <div class="col-span-12 grid grid-cols-12 gap-4 mt-4">
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-red-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Despesa da Semana</div>
          <div class="text-4xl font-bold"> {{ totalDespesaSemana  }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-red-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Despesa do Mês</div>
          <div class="text-4xl font-bold"> {{ totalDespesaMes }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-red-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Despesa do Semestre</div>
          <div class="text-4xl font-bold"> {{ totalDespesaSemestre  }}</div>
        </div>
      </p-card>
    </div>

    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <p-card class="shadow-md rounded-lg h-full">
        <div class="bg-red-500 text-white p-4 rounded-lg h-full flex flex-col justify-between items-center">
          <div class="text-sm font-semibold mb-2">Despesa do Ano</div>
          <div class="text-4xl font-bold"> {{ totalDespesaAno }}</div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-span-12">
    <p-card header="Receitas x Despesas por Mês" class="h-full shadow-md rounded-lg">
      <p-chart
        type="bar"
        [data]="barData"
        [options]="barOptions"
        class="w-full h-full"
      ></p-chart>
    </p-card>
  </div>

  
  <div class="col-span-12 xl:col-span-12">

    <div class="card">
      <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 p-4">
        <div class="text-lg font-semibold">
          Grupo de conta selecionado: <span class="text-indigo-600">{{ grupoContaSelecionado || 'Nenhum' }}</span>
        </div>
        <button
          pButton
          type="button"
          label="Limpar"
          icon="pi pi-times"
          class="p-button-sm p-button-primary"
          (click)="atualizarGraficos()"
          [disabled]="!grupoContaSelecionado"
        ></button>

      </div>
    </div>
  </div>

  <div class="col-span-12 xl:col-span-6">
    <p-card header="Receitas por grupo de conta - Ano atual" class="h-full shadow-md rounded-lg flex flex-col">
      <p-chart
        class="w-full h-full"
        type="doughnut"
        [data]="pieDataReceitas"
        [options]="pieOptions"
        (onDataSelect)="handlePieClick($event, 'ENTRADA')"
      ></p-chart>
    </p-card>
  </div>

  <div class="col-span-12 xl:col-span-6">
    <p-card header="Receitas por subconta (top 10) - Ano atual" class="h-full shadow-md rounded-lg flex flex-col">
      <p-chart
        class="w-full h-full"
        type="bar"
        [data]="barDataReceitas"
        [options]="barHorizontalOptions"
      ></p-chart>
    </p-card>
  </div>



  <div class="col-span-12 xl:col-span-6">
    <p-card header="Despesas por grupo de conta - Ano atual" class="h-full shadow-md rounded-lg flex flex-col">
      <p-chart
        class="w-full h-full"
        type="doughnut"
        [data]="pieDataDespesas"
        [options]="pieOptions"
        (onDataSelect)="handlePieClick($event, 'SAIDA')"
      ></p-chart>
    </p-card>
  </div>

  <div class="col-span-12 xl:col-span-6">
    <p-card header="Despesas por subconta (top 10) - Ano atual" class="h-full shadow-md rounded-lg">
      <p-chart
        type="bar"
        [data]="barDataDespesas"
        [options]="barHorizontalOptions"
        class="w-full h-full"
      ></p-chart>
    </p-card>
  </div>

  <div class="col-span-12">
    <p-card header="Evolução do lucro" class="h-full shadow-md rounded-lg">
      <p-chart 
        class="w-full h-full" 
        type="line" 
        [data]="lineData" 
        [options]="lineOptions">
      </p-chart>
    </p-card>

  </div>

  <div class="col-span-12">
    <div class="card flex flex-wrap gap-4 items-center">
      <div class="flex flex-col sm:flex-row sm:items-center gap-2">
        <label for="startDate" class="font-bold">Data de Início:</label>
        <p-date-picker
          [(ngModel)]="filtro.dataInicio"
          inputId="startDate"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          placeholder="Selecione a data de início"
          [maxDate]="filtro.dataFim || null"
          appendTo="body"
          styleClass="w-full sm:w-auto"
        ></p-date-picker>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-center gap-2">
        <label for="endDate" class="font-bold">Data de Fim:</label>
        <p-date-picker
          [(ngModel)]="filtro.dataFim"
          inputId="endDate"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          placeholder="Selecione a data de fim"
          [minDate]="filtro.dataInicio || null"
          appendTo="body"
          styleClass="w-full sm:w-auto"
        ></p-date-picker>
      </div>

      <p-button
        label="Aplicar Filtro"
        icon="pi pi-filter"
        (click)="loadDemoData()"
        [disabled]="!filtro.dataInicio || !filtro.dataFim"
        styleClass="p-button-primary ml-auto sm:ml-0"
      ></p-button>
    </div>
  </div>

  <div class="col-span-12 xl:col-span-8">
    <div class="card flex flex-col items-center">
      <h2 class="text-sm font-semibold mb-4">Fluxo de Caixa</h2>
      <p-chart class="w-full" type="line" [data]="fluxoCaixa" [options]="lineOptions"></p-chart>
    </div>
  </div>

  <div class="card col-span-12 xl:col-span-4">
    <div class="flex flex-col items-center px-4 pb-4">
      <h2 class="text-sm font-semibold my-4 text-gray-800 dark:text-gray-100">
        Saldos
      </h2>

      <div class="w-full max-h-72 overflow-y-scroll">
        <div
          *ngFor="let saldo of saldoContas"
          class="p-3 mb-2 last:mb-0
                border border-gray-300 dark:border-gray-600
                bg-gray-100   dark:bg-gray-800
                rounded-md"
        >
          <div class="text-sm font-semibold text-gray-700 dark:text-gray-200">
            {{ saldo.nomeBanco }}
          </div>

          <div class="text-xs mb-2 text-gray-700 dark:text-gray-400">
            Agência: {{ saldo.agencia }} |
            Conta: {{ saldo.numeroConta }}
          </div>

          <div class="flex flex-col text-sm space-y-1">
            <span
              class="font-bold"
              [ngClass]="{
                'text-green-700 dark:text-green-400': saldo.saldo > 0,
                'text-red-700   dark:text-red-400'  : saldo.saldo < 0,
                'text-gray-700  dark:text-gray-300' : saldo.saldo === 0
              }"
            >
              Saldo: {{ saldo.saldo | currency:'BRL' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
