<p-toast></p-toast>
<p-toolbar>
    <ng-template #end>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary"(onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="lista()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'recebimentoVendas','tipoOperacao', 'ativo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    [loading]="loading"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} grupo de contas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar grupo de contas</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="nome" style="min-width:16rem">
                Nome
                <p-sortIcon field="nome" />
            </th>
            <th pSortableColumn="tipoOperacao" style="min-width: 12rem">
                Recebimento de vendas
                <p-sortIcon field="tipoOperacao" />
            </th>
            <th pSortableColumn="tipoOperacao" style="min-width: 12rem">
                Transferência entre contas
                <p-sortIcon field="tipoOperacao" />
            </th>
            <th pSortableColumn="faixaDRE" style="min-width: 12rem">
                Posição do DRE
                <p-sortIcon field="faixaDRE" />
            </th>
            <th pSortableColumn="ativo" style="min-width: 12rem">
                Ativo
                <p-sortIcon field="ativo" />
            </th>
            <th style="min-width: 12rem">Ações</th>
        </tr>
    </ng-template>
    <ng-template #body let-objeto>
        <tr>
            <td style="min-width: 16rem">{{ objeto.nome }}</td>
            <td>
                <i
                    class="pi"
                    [ngClass]="{
                        'pi-check text-green-600': objeto.tipoOperacao == 'RECEBIMENTO',
                        'pi-times text-red-600': objeto.tipoOperacao != 'RECEBIMENTO'
                    }"
                    aria-label="aut_sup">
                </i>
            </td>
            <td>
                <i
                    class="pi"
                    [ngClass]="{
                    'pi-check text-green-600': objeto.tipoOperacao == 'TRANSFERENCIA',
                    'pi-times text-red-600': objeto.tipoOperacao != 'TRANSFERENCIA'
                    }"
                    aria-label="aut_sup">
                </i>
            </td>
            <td style="min-width: 12rem">{{ objeto.faixaDRE }}</td>
            <td>
                <p-tag [value]="objeto.ativo ? 'ATIVO' : 'INATIVO' " [severity]="getSeverity(objeto.ativo)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(objeto)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(objeto)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogo" [style]="{ width: '450px' }" header="Detalhes do grupo de conta" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input name="name" type="text" pInputText id="nome" [(ngModel)]="objeto.nome" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !objeto.nome">Nome é obrigatório.</small>
            </div>

            <div>
                <label for="faixa_dre" class="block font-bold mb-3">Posição do DRE</label>
                <p-select 
                    name="faixa_dre" 
                    [(ngModel)]="objeto.faixaDRE" 
                    inputId="faixa_dre" 
                    [options]="faixaDRE" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione uma permissão" 
                    [disabled]="travarFaixa"
                    fluid 
                    [appendTo]="'body'"
                />
                <small class="text-red-500" *ngIf="submitted && objeto.faixaDRE == undefined">Posição do DRE obrigatório.</small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select 
                    name="status" 
                    [(ngModel)]="objeto.ativo" 
                    inputId="status" 
                    [options]="statuses" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione um status" 
                    fluid 
                    [appendTo]="'body'"
                />
                    <small class="text-red-500" *ngIf="submitted && objeto.ativo == undefined">Status é obrigatório.</small>
            </div>

            <div>
                <span class="block font-bold mb-4">Opções</span>
                <div class="grid grid-cols-12 gap-4">
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radiobutton 
                            name="opcoes" 
                            inputId="recebimento_vendas" 
                            [(ngModel)]="objeto.tipoOperacao" 
                            (onClick)="mudarFaixaDRE()"
                            value="RECEBIMENTO" />
                        <label for="recebimento_vendas">Recebimento de vendas</label>
                    </div>
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radiobutton 
                            name="opcoes" 
                            inputId="transf_contas" 
                            [(ngModel)]="objeto.tipoOperacao" 
                            (onClick)="mudarFaixaDRE()"
                            value="TRANSFERENCIA" />
                        <label for="transf_contas">Transferência entre contas</label>
                    </div>
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radiobutton 
                            name="opcoes" 
                            inputId="nenhum" 
                            [(ngModel)]="objeto.tipoOperacao" 
                            (onClick)="mudarFaixaDRE()"
                            value="" />
                        <label for="nenhum">Nenhum</label>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" [loading]="loadingSalvar" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />