<p-toast></p-toast>
<p-toolbar>
    <ng-template #end>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary"(onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="lista()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'ativo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} tipos de contratos"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar tipos de contratos</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="nome" style="min-width:16rem">
                Nome
                <p-sortIcon field="nome" />
            </th>
            <th pSortableColumn="ativo" style="min-width: 12rem">
                Ativo
                <p-sortIcon field="ativo" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-objeto>
        <tr>
            <td style="min-width: 16rem">{{ objeto.nome }}</td>
            <td>
                <p-tag [value]="objeto.ativo ? 'ATIVO' : 'INATIVO' " [severity]="getSeverity(objeto.ativo)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(objeto)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="delete(objeto)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogo" [style]="{ width: '450px' }" header="Detalhes do tipo de contrato" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input name="name" type="text" pInputText id="nome" [(ngModel)]="objeto.nome" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !objeto.nome">Nome é obrigatório.</small>
            </div>
            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select 
                    name="status" 
                    [(ngModel)]="objeto.ativo" 
                    inputId="ativo" 
                    [options]="statuses" 
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Selecione um status" 
                    fluid 
                    [appendTo]="'body'"
                />
                <small class="text-red-500" *ngIf="submitted && objeto.ativo == undefined">Status é obrigatório.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" [loading]="loadingSalvar" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />